body {
  display: flex;
flex-direction: column;
align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  background-color: gray;
  padding: 1em;
  color: white;
  font-family: sans-serif;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 20em;
  margin-top: 2em;
}
button {
  background-color: blue;
  color: white;
}